.wrapper
  width: 100%

.title
  font-family: var(--font-roboto)
  font-size: 22px
  line-height: 1.3
  color: #2F394D
  text-align: center
  margin-bottom: 30px
  @media (min-width: 640px)
    font-size: 32px
    margin-bottom: 40px

.swiper
  width: 100%
  --swiper-navigation-color: #2F394D
  --swiper-navigation-size: 28px

.slide
  display: flex
  align-items: center
  justify-content: center
  user-select: none

.image
  width: 100%
  height: auto
  object-fit: contain
  border-radius: 16px
