.footer
  position: relative
  display: flex
  justify-content: center
  width: 100%
  padding: 32px 20px 20px
  background: #E8F1FF

.inner
  display: flex
  flex-direction: column
  width: 100%
  max-width: 1800px
  color: #F2F5FA

.top
  display: flex
  justify-content: space-between

.logoWrapper
  display: none
  @media (min-width: 640px)
    display: block

    > *
      color: #2F394D

.contacts
  font-size: 18px
  line-height: 1.5
  max-width: 244px
  width: 100%
  padding-left: 30px
  color: #526179

  @media (max-width: 640px)
    font-size: 14px
    line-height: 1.5

.links
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 8px 24px
  padding: 20px 0 4px
  border-bottom: 1px solid #A0B0C866
  @media (max-width: 640px)
    padding-top: 0

  a
    font-size: 14px
    line-height: 1.5
    color: #526179
    text-decoration: underline
    font-family: var(--font-tilda)
    &:hover
      color: #2F394D

  @media (max-width: 640px)
    a
      font-size: 12px

.disclaimer
  font-family: var(--font-tilda)
  font-size: 13px
  line-height: 1.5
  color: #526179
  text-align: center
  margin: 0
  padding-bottom: 12px
  padding-top: 32px

  @media (max-width: 640px)
    font-size: 10px
    line-height: 1.4
    padding-top: 24px

.bottom
  display: flex
  color: #526179
  justify-content: center
  gap: 8px
  font-size: 16px
  line-height: 1.5

  @media (max-width: 640px)
    flex-direction: column
    align-items: center
    font-size: 10px
    line-height: 1.4
    padding-top: 8px
