.logotype
  display: flex
  flex-direction: row
  align-items: center
  gap: 28px

.logo
  width: 39px
  @media (min-width: 640px)
    width: auto

.title
  font-size: 20px
  height: auto
  font-family: var(--font-cygre-semibold)
  @media (min-width: 640px)
    font-size: 32px
    height: 55px
