.arrow
  position: relative
  transform: rotate(90deg)
  width: 32px
  margin-left: 33px
  height: 40px

  @media (min-width: 1280px)
    transform: none
    top: 60px
    width: auto
    margin-left: unset
    height: 20px
