.wrapper
  background-color: #A0B0C81A
  height: 85px
  display: flex
  flex-direction: column
  justify-content: center
  padding: 25px
  border-radius: 25px
  box-shadow: -8px -8px 20px 0px #A0B0C84D inset, 0px -4px 6px 0px #A0B0C833 inset, 8px 8px 20px 0px #FFFFFF80 inset

.label
  font-family: var(--font-tilda)
  font-size: 16px
  line-height: 1.5
  color: #526179
  transform: translateY(-8px)

.input
  border: none
  outline: none
  font-family: var(--font-tilda)
  font-size: 16px
  line-height: 1.5
  transform: translateY(-2px)
  background-color: transparent
  &::placeholder
    color: #A0B0C8
